/* .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu-container {
    width: 900px;
}

.logout-container {
    width: 900px;
    bottom: 0;
}

.menu-button {
    justify-content: flex-start;
    width: 100%;
} */
