
.container {
  overflow: hidden !important; /* Added overflow: hidden; to .container */
}
.no-scroll {
  --overflow: hidden !important;
  overflow: hidden !important;
  overflow-y: hidden !important;

}
html,body{

  overflow: hidden !important;
}

/* Styles for PC screens */
@media (min-width: 1024px) {
  html {
    align-items: center;
    justify-content: center;
    margin: auto !important;
    height: 100vh;
    padding-left: 25%;
    overflow: hidden !important;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(71, 28, 28) !important;
    max-width: 900px !important;
   
    overflow: hidden !important;
  }
}