.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  color: white;
  text-align: center;
}

.splash-screen h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.splash-screen p {
  font-size: 1.5rem;
}